.img-wrapper {
    position: relative;
    height: 100%;
}

.img-wrapper img {
    width: 100%;
    position: aboslute;
    height: 100%;
}

.img-wrapper:hover {
    transform: scale(0.95, 0.95);
    transition: linear 0.1s;
}

.project-link-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 6vh;
    display: flex;
    opacity: 0;
    background-color: var(--color-light);
    align-items: center;
    justify-content: space-around;
    padding: 0 8%;
}

.project-link-container:hover {
    opacity: 0.8;
    transform: scale(1.05, 1.05);
    transition: linear 0.4s;
}

.project-link-container a {
    opacity: 0.5;
}

.project-link-container a:hover {
    opacity: 1;
    transition: linear 0.4s;
}

.project-link-container a:first-of-type {
    margin-right: 8%;
}

.project-link-container a {
    color: var(--color-highlight)
}