#project-grid {
    display: grid;
    margin: auto;
    gap: 4vh;
    grid-template-rows: repeat(6, 30vh);
}

@media only screen and (min-width: 600px) and (orientation: landscape) {
	#project-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto, 30vh);
    }

    #project-grid > div:first-child {
        grid-area: 1 / 1 / 2 span / 2 span;
    }

    #project-grid > div:first-child .project-link-container>a:hover {
        transform: scale(1.5)
    }
}
