@import '../../css/_global.scss';

.photo {
    width: 70vmin;
	height: 62vmin;
    margin: auto;
	/* transform: rotate3d(1,1,1, 45deg) */

	img {
		height: 100%;
		width: 100%;
		border-bottom-color: rgba($color-light, 1);
		border-left-color: rgba($color-light, 0.8);
		border-right-color: rgba($color-light, 0.8);
		border-top-color: rgba($color-light, 0.7);
	}
}

.frame {
	background-color: $color-dark;
	border: solid 5.5vmin;
	border-top-color: rgba($color-light, 0.7);
	border-right-color: rgba($color-light, 0.8);
	border-bottom-color: rgba($color-light, 1);
	border-left-color: rgba($color-light, 0.8);
	border-radius: 2px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
				0 5px 10px 5px rgba(0, 0, 0, 0.25);
	position: relative;
    text-align: center;
	padding: 15px;

	&:before {
		position: absolute;
		top: -3.5vmin;
		bottom: -3.5vmin;
		left: -3.5vmin;
		right: -3.5vmin;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
		content: '';
	}

	&:after {
		position: absolute;
		top: -1vmin;
		bottom: -1vmin;
		left: -1vmin;
		right: -1vmin;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
		content: '';
	}
}

.newspaper {
	p:first-of-type {
		font-size: 150%;
		font-family: Lato;
		color: $color-primary;

		&::first-letter {
			font-size: 150%;
		}
	}
}

.signature {
	p:last-of-type {
		font-size: 150%;
		font-weight: 600;
	}
}

@media only screen and (orientation: landscape) {
	.photo {
		height: 60vmin;
		width: 68vmin;
		float: left;
		margin: 150px 2ch 1ch 1ch;
	}
	.newspaper {
		&::first-line, &::first-letter {
			font-size: 175%;
			font-family: Lato;
			color: $color-primary
		}
	}
}
@media only screen and (min-width: 600px) and (orientation: landscape) {
	.photo {
        height: 28vmax;
        width: 30vmax;
    }
	.newspaper {
		&::first-line, &::first-letter {
			font-size: 200%;
		}
	}
	.frame {
		border-width: 2.5vmax;
		&:before {
			top: -1.75vmax;
			bottom: -1.75vmax;
			left: -1.75vmax;
			right: -1.75vmax;
		}
		&:after {
			top: -1vmax;
			bottom: -1vmax;
			left: -1vmax;
			right: -1vmax;
		}
	}
	#bio-text-wrapper {
		margin-top: 20vh;
	}
}


