.photo {
    height: 220px;
    width: 250px;
    margin: auto;
	/* transform: rotate3d(1,1,1, 45deg) */
}
.photo img {
	height: 100%;
	border: solid 2px;
	border-bottom-color: rgba(var(--color-light-rgb), 1);
	border-left-color: rgba(var(--color-light-rgb), 0.8);
	border-right-color: rgba(var(--color-light-rgb), 0.8);
	border-top-color: rgba(var(--color-light-rgb), 0.7);
	max-height: 100%;
	max-width: 100%;
}

.frame {
	background-color: var(--color-dark);
	border: solid 5.5vmin rgba(var(--color-light-rgb), 0.8);
	border-bottom-color: rgba(var(--color-light-rgb), 1);
	border-left-color: rgba(var(--color-light-rgb), 0.8);
	border-radius: 2px;
	border-right-color: rgba(var(--color-light-rgb), 0.8);
	border-top-color: rgba(var(--color-light-rgb), 0.7);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
		0 5px 10px 5px rgba(0, 0, 0, 0.25);
	position: relative;
    text-align: center;
	padding: 15px;

}
.frame:before {
	border-radius: 2px;
	bottom: -3.5vmin;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
	content: '';
	left: -3.5vmin;
	position: absolute;
	right: -3.5vmin;
	top: -3.5vmin;
}
/* .frame:after {
	border-radius: 2px;
	bottom: -1vmin;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
	content: '';
	left: -1vmin;
	position: absolute;
	right: -1vmin;
    top: -1vmin;
} */

.newspaper::first-letter {
	font-size: 150%;
	font-family: Lato;
	color: var(--color-primary)
}

.newspaper::first-line {
	font-size: 150%;
	font-weight: 100;
	color: var(--color-primary)
}

@media only screen and (min-width: 600px) {
	.photo {
        height: 360px;
        width: 380px;
        float: left;
        margin: 30vh 3.1vw 3vh 0;
    }
	.newspaper::first-letter {
		font-size: 200%;
	}

	.newspaper::first-line {
		font-size: 200%;
	}
}

