#contact-form {
	display: grid;
	margin: auto;
}

#contact-form div {
	display: flex;
	flex-wrap: wrap;
}

#contact-form div label {
	flex: 1 100%;
	margin: 1vh 0 0.5vh;
}

#contact-form div input,
#contact-form div textarea {
	flex: 1;
	font-size: 16px;
}

#contact-form button {
	width: fit-content;
	background-color: white;
	border: 0.5px solid #757575;
	padding: 1vh 2vw;
	font-size: 16px;
	border-radius: 5%;
	justify-self: right;
}

#contact-form div:last-child {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.5vh;
}

.error-text {
	margin: 0;
	color: var(--color-brown);
	text-shadow: 0.5px 0.5px var(--color-green);
}

@media only screen and (min-width: 600px) {
	#contact-form {
		width: min(60%, 600px);
	}
}
