address {
	display: flex;
	max-width: 90vw;
}

table {
	flex: 1 1 100%;
	table-layout: fixed;
	word-wrap: break-word;
	border-spacing: 10px 20px;
	width: 100%;
}

td:first-child {
	padding: 1%;
	text-align: right;
	width: 9ch;
	white-space: nowrap;
}

td:nth-child(2)  {
    background: var(--color-light-green);
    box-shadow: 2px 2px var(--color-green);
	text-align: center;
	padding: 2px 5px;
}

td>a {
	color: var(--color-primary);
	text-decoration: none;
	border-bottom: 2px solid var(--color-primary);
}

td>a:hover {
	color: var(--color-dark);
	text-shadow: 0.5px 0.5px 0px var(--color-light);
	border-bottom: 2px solid var(--color-dark);
}

td svg {
	margin-left: 20px;
}