.header {
	flex: 1 0 15vh;
	display: flex;
	flex-wrap: wrap;
	background: var(--color-primary);
	font-size: calc(10px + 2vmin);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	color: var(--color-secondary);
	justify-content: space-between;
	z-index: 2;
	width: 100%;
	box-shadow: 33px 0 33px var(--color-primary);
}

.logo-container {
	position: absolute;
	flex: 0 0 22vw;
	z-index: 2;
}

.logo-container img {
	width: 90%;
	margin: 1vh 0;
	width: 22vw;
	min-width: 100px;
	max-width: 180px;
	background-color: var(--color-primary);
	border-bottom-left-radius: 51%;
	border-bottom-right-radius: 47%;
	margin-left: -10px;
}

.nav-btn-container {
	flex: 1 0 88vw;
	height: 15vh;
	display: flex;
}

.nav-menu-btn {
	margin-left: auto;
	margin-top: auto;
	background: transparent;
	box-shadow: 0px 0px 0px transparent;
	border: 0px solid transparent;
	text-shadow: 0px 0px 0px transparent;
	color: var(--color-tetriary);
	font-size: 5vh;
	cursor: pointer;
}

.nav-menu-btn:hover {
	background: transparent;
	box-shadow: 0px 0px 0px transparent;
	border: 0px solid transparent;
	text-shadow: 0px 0px 0px transparent;
	color: var(--color-light);
}

.isActive:hover {
	color: var(--color-tetriary);
}

.nav-menu-btn:active {
	outline: none;
	border: none;
}

.nav-menu-btn:focus {
	outline: 0;
}

.isActive {
	color: var(--color-light);
}

.grow {
	animation: grow 1s both;
}

.shrink {
	animation: shrink 0.5s both;
}

@keyframes grow {
	0% {
		height: 15vh
	}

	100% {
		height: 100vh;
	}
}

@keyframes shrink {
	0% {
		height: 100vh;
	}

	100% {
		height: 15vh;
	}
}

@media screen and (orientation: landscape) {
	.header {
		flex: 1 0 10vh;
	}
	.nav-menu-btn {
		font-size: 10vh;
	}
}