@import '../../css/_global';

footer {
	height: 10.5vh;
	background: $color-tetriary;
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	flex-shrink: 0;
	display: flex;
	justify-content: center;

	div {
		flex: 0 0 20%;
		justify-content: space-between;
		display: flex;
		background-color: $color-primary;
		border-radius: 15%/ 48%;
		box-shadow: 5px 2px 1px 0 $color-secondary inset,
			-5px -2px 1px 0 $color-secondary inset,
			-4px 0px 5px 0 $color-light inset, 4px 0px 5px 0 $color-light inset,
			-7px 4px 1px 0 $color-dark inset, 7px -4px 1px 0 $color-dark inset;
		margin: 5px;

		a {
			color: $color-light;
			margin: auto 2vw;
			font-size: 5vh;
			padding: 2px 7px 0;

			&:hover {
				color: $color-tetriary;
			}
		}
	}
}
