li {
	list-style: none;
}

header a {
  text-decoration: none;
  color: var(--color-light);
}

main {
  background: var(--color-light);
  margin: 0;
  flex-grow: 1;
  padding: 2vh 10vw;
}

main section h1 {
  margin-bottom: 1.8vh;
  text-align: center;
}