:root {
	--color-dark: #636058;
	--color-primary: #31708E;
	--color-secondary: #5085A5;
	--color-tetriary: #8FC1E3;
	--color-light: #F7F9FB;
	--color-light-rgb: 247,249,251;
}

@font-face {
	font-family: Lato;
	src: url(./assets/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
	font-family: Lato-light;
	src: url(./assets/fonts/Lato/Lato-Light.ttf);
}@font-face {
	font-family: Lato-italic;
	src: url(./assets/fonts/Lato/Lato-Italic.ttf);
}
@font-face {
	font-family: Lustria;
	src: url(./assets/fonts/Lustria/Lustria-Regular.ttf);
}
@font-face {
	font-family: Montserrat;
	src: url(./assets/fonts/Montserrat/Montserrat-Thin.ttf);
}

* {
	box-sizing: border-box;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

body {
	margin: 0;
	font-family: Lustria;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	flex-direction: column;
	color: #353535;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Montserrat;
	font-weight: 600;
	/* text-shadow: 2px 2px 5px #353535; */
}

h2 {
	font-size: 1.1em;
}

@media only screen and (min-width: 600px) {
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 1.5em;
	}
	body {
		font-size: 160%;
	}
}