:root {
	--color-light-green: #ddddcc;
	--color-brown: #7d6449;
	--color-light: #f5ebdf;
	--color-green: #a7b38a;
	--color-grey: #a79d93;
}

@font-face {
	font-family: Lato;
	src: url(./assets/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
	font-family: Lustria;
	src: url(./assets/fonts/Lustria/Lustria-Regular.ttf);
}

* {
	box-sizing: border-box;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

body {
	margin: 0;
	font-family: Lato;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	flex-direction: column;
	color: #353535;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: Lustria;
}

h2 {
	font-size: 1.1em;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@media only screen and (min-width: 600px) {
	h1 {
		font-size: 2.2em;
	}
	h2 {
		font-size: 1.5em;
	}
	body {
		font-size: 140%;
	}
}
